* {
  box-sizing: border-box;
}

.flex-grid {
  display: flex;
  margin: 0;
}

.flex-grid .col {
  flex: 1;
}

.col {
  padding: 5px;
  min-height: 100px;
  width: 100%;
  border: 1px dotted #CCC;
}

.flex-grid-fifth {
  display: flex;
  justify-content: space-between;
}

.flex-grid-fifth .col {
  width: 20%;
}