* {
  box-sizing: border-box;
}

.flex-grid {
  display: flex;
  margin: 0;
}

.flex-grid .col {
  flex: 1;
}

.col {
  width: 100%;
}

.flex-grid-fifth {
  display: flex;
  justify-content: center;
}

.flex-grid-fifth .col {
  width: 20%;
}