@import 'src/styles/abstracts/variables/_gutter';

.board-main {
  padding: $gutter 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-main__searchbar {
  padding: $gutter 0;
}

.flex-grid {
  display: flex;
  margin: 0;
}

.flex-grid .col {
  flex: 1;
}

.col {
  width: 100%;
}

.flex-grid-fifth {
  display: flex;
}

.flex-grid-fifth .col {
  width: 20%;
}