@import 'src/styles/abstracts/functions/_get-color';
@import 'src/styles/abstracts/mixins/_breakpoint';

.tile {
  background-color: getColor(blue);
  border: 1px dotted getColor(sky);
  height: 100px;
  min-width: 100px;
}

.tile--full {
  background-image: url("r2.png");
  background-size: cover;
}

.tile-full--facing-north {
  transform: rotate(180deg);
}

.tile-full--facing-south {
  transform: rotate(0deg);
}

.tile-full--facing-east {
  transform: rotate(270deg);
}

.tile-full--facing-west {
  transform: rotate(90deg);
}

@include breakpoint($mobile) {
  .tile {
    height: 60px;
    min-width: 60px;
  }
}